In [1]:
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

import os 
pathdata = os.getcwd() + "/Data/HRDataset_v13.csv"

Licence Information for the Data used can be seen in the follownig webside: https://creativecommons.org/licenses/by-sa/4.0/

In [2]:
df = pd.read_csv(
    pathdata,
    header=None)

In [3]:
#print(df.head())
df.columns = [
    "Emplyee_Name", "EmpID", "MarriedID", "MaritalStatusID", "GenderID",
    "EmpStatusID", "DeptID", "PerfScoreID", "FromDiversityJobFairID", "PayRate",
    "Termd", "PositionID", "Position", "State", "Zip", "DOB", "Sex", "MaritalDesc", "CitizenDesc",
    "HispanicLatino", "RaceDesc", "DateofHire", "DateofTermination", "TermReason", "EmploymentStatus",
    "Department", "ManagerName", "ManagerID", "RecruitmentSource", "PerformanceScore", "EngagementSurvey",
    "EmpSatisfaction", "SpecialProjectsCount", "LastPerformanceReview_Date", "DaysLateLast30"
]

Since the data somehow has some rows that are only consisting of NaN, we just consider the Data within the Rows 1 to 310.

In [4]:
df = df.iloc[1:310]
#print(df.head())

print(df.columns[10])
label = df.columns[10]
train_cols = pd.Index([
    "MarriedID", "MaritalStatusID", "GenderID", "DeptID", 
    "PerfScoreID", "FromDiversityJobFairID", "PayRate", "PositionID",
    "Sex", "HispanicLatino", "ManagerID", "EngagementSurvey",
    "EmpSatisfaction", "SpecialProjectsCount", "DaysLateLast30"
                      #,"RecruitmentSource","State", 
])

Termd

In [5]:
# see the number of classes in the data 
df['Termd'].value_counts()
df.fillna({'ManagerID':-99}, inplace=True)
df.fillna({'DaysLateLast30':-99}, inplace=True)

df = df.astype({"Termd": int, "MarriedID": int, "MaritalStatusID": int, "GenderID": int, "DeptID": int,
           "PerfScoreID": int,"PayRate": float,"FromDiversityJobFairID": int, "PositionID": int,"ManagerID": int, 
           "EngagementSurvey": float,"EmpSatisfaction": int,"SpecialProjectsCount": int, "DaysLateLast30": int})

df["PayRate"] = df["PayRate"].round(0).astype(int)
df["EngagementSurvey"] = df["EngagementSurvey"].round(0).astype(int)

# df.dtypes

In [6]:
X = df[train_cols]
y = df[label]
y.head()
y = pd.Series(y, dtype=int)


#print(X.isnull().any())

# Fillna in manager ID with a ID -99
X.fillna({'ManagerID':-99}, inplace=True)
X.fillna({'DaysLateLast30':-99}, inplace=True)


# We have to transform categorical variables to use sklearn models

X_enc = pd.get_dummies(X, prefix_sep='.',columns=[ 
    "Sex","HispanicLatino",
    #"State", 
    #"RecruitmentSource"
])
feature_names = list(X_enc.columns)

seed = 1  
X_train, X_test, y_train, y_test = train_test_split(X_enc, y, test_size=0.20, random_state=seed)

X_test.head()

/Users/francaspeth/opt/miniconda3/envs/ipykernel_py3.6/lib/python3.6/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,MarriedID,MaritalStatusID,GenderID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,PositionID,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Sex.F,Sex.M,HispanicLatino.No,HispanicLatino.Yes,HispanicLatino.no,HispanicLatino.yes
239,0,2,0,5,3,0,22,20,14,5,3,0,-99,1,0,1,0,0,0
258,1,1,0,5,3,0,24,20,19,4,3,0,-99,1,0,1,0,0,0
215,1,1,1,5,2,1,15,19,39,4,4,0,-99,0,1,1,0,0,0
71,1,1,0,3,3,0,47,15,7,3,3,6,0,1,0,1,0,0,0
140,1,1,1,5,3,0,21,19,16,2,3,0,0,0,1,1,0,0,0

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline

#Blackbox system can include preprocessing, not just a classifier!
pca = PCA()
rf = RandomForestClassifier(n_estimators=50, n_jobs=-1)

blackbox_model = Pipeline([('pca', pca), ('rf', rf)])
blackbox_model.fit(X_train, y_train)

y_pred=blackbox_model.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

Accuracy: 1.0
Mean Absolute Error: 0.0
Mean Squared Error: 0.0

In [ ]:
from interpret import show
from interpret.perf import ROC

blackbox_perf = ROC(blackbox_model.predict_proba).explain_perf(X_test, y_test, name='Blackbox')
show(blackbox_perf)

In [ ]:
from interpret.blackbox import LimeTabular
from interpret import show

#Blackbox explainers need a predict function, and optionally a dataset
lime = LimeTabular(predict_fn=blackbox_model.predict_proba, data=X_train, random_state=1)

#Pick the instances to explain, optionally pass in labels if you have them
lime_local = lime.explain_local(X_test[:5], y_test[:5], name='LIME')

show(lime_local)